<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>MS-Teams</title>
  </head>
  <body>
    <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4" style="text-align: center;">
                <h3>Get Started Now</h3>
              </div>
              <div class="card card-body text-center " id="getStarted">
              <i class="fas fa-user fa-3x"></i>
                <p>Create an account or login</p>
                
                <a href="/users/register"><input type="button" value="Register" class="btn btn-block btn-primary"></a>
                <p style="text-align: left;padding-top:5%;">Aleady Have an Account?</p>
                <a href="/users/login"><input type="button" value="Login" class="btn btn-block btn-primary"></a>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>